<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqdWP1dvhjsk1wIOkiiwBHJEdY5k8IG2A</string>
	<key>GCM_SENDER_ID</key>
	<string>888830173927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceri.fitcall</string>
	<key>PROJECT_ID</key>
	<string>fitcallapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fitcallapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888830173927:ios:b0ef78dc6445f2ce67b842</string>
</dict>
</plist>